.header{
	height:40px;
	text-align:left;
	text-indent:30px;
	padding-top:15px;
	word-spacing:60px;
}

.bg-danger {
    display: flex;              
    justify-content: center;   
    padding: 10px;
	gap: 40px;
}

.icon {
    text-align: center;
    margin: 10px;
}

.icon img {
    display: flex;
    margin: 0 auto;

}
h2{
	text-align:center;
	color:#008080;
}
h4{
	text-align:center;
	color:#1AE8BB;
}
